@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand-primary: #7c3aed; 
  --color-brand-secondary: #a3e635;
  
  --color-main-bg: var(--fallback-b1,oklch(var(--b1)/1));
  --color-main-text: var(--fallback-bc,oklch(var(--bc)/1));
}

@plugin "daisyui" {

  themes: light --default, dark;
}

@custom-variant dark (&:where([data-theme=dark],[data-theme=dark]*));